DATABASE_URL="******localhost:5432/behindtheemail"
REDIS_URL="redis://localhost:6379"
NEXTAUTH_SECRET="your-secret-here"
NEXTAUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
STRIPE_SECRET_KEY="sk_test_..."
STRIPE_PUBLISHABLE_KEY="pk_test_..."
STRIPE_WEBHOOK_SECRET="whsec_..."
STRIPE_PLUS_PRICE_ID="price_..."
STRIPE_PRO_PRICE_ID="price_..."
HIBP_API_KEY=""
PDL_API_KEY=""
HUNTER_API_KEY=""
GITHUB_TOKEN=""
DEHASHED_API_KEY=""
GOOGLE_CSE_API_KEY=""
GOOGLE_CSE_ID=""
PROXYCURL_API_KEY=""
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NODE_ENV="development"
PORT="4000"
